<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmsm_YkaVZN2oqKk-q-htT6gdPnAm6b2k</string>
	<key>GCM_SENDER_ID</key>
	<string>331512369770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushnotificationupdate1</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationupdate1</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationupdate1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331512369770:ios:5e4605ce1e599252463013</string>
</dict>
</plist>